@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

.navbar-div{
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 990px){
  .navbar-div{
    display: none;
  }
}

.active {
  text-decoration-line: underline;
}

br{
  position: relative;
  line-height: 8px;
  width: 100%;
  display: inline-block;
  height: 2px;
  color: #000000;
}

.textoutline {
  -webkit-text-stroke: 2px black;
  color: white;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
